@font-face {
  font-family: montessarat-bold;
  src: url("../../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../../styles/Montserrat-UltraLight.otf");
}

.ourResidentMainDiv {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 5%;
}
.coloumContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headContainer {
  position: relative;
  bottom: 50px;
}
.ourResidentHeading {
  height: 42px;
  width: 100%;
  color: #222222;
  font-family: montessarat-ultralight;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: lighter;
}
.intrapreneurs {
  font-family: montessarat-bold;
}
.ourResidentImage {
  height: 9px;
  width: 38px;
  top: 12px;
}
.roundImage {
  width: 150px;
  height: 150px;
  margin: 12px 56px;
  padding: 5px 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
}
.wrappedDivResident:hover .roundImage {
  box-shadow: 0 0 0 6px #3429b7;
}

.textContainer {
  color: #222222;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.nameOfIntrapreneurs {
  font-weight: bold;
}
.detailsOfIntrapreneurs {
  color: #595959;
}
.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}
.wrappedDivResident a {
  text-decoration: none;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .ourResidentHeading {
    display: contents;
  }
  .headContainer {
    position: relative;
    top: 6%;
  }
  .ourResidentImage {
    top: 3px;
  }
  .align {
    flex-direction: column;
    top: 7%;
  }
  .ourResidentMainDiv {
    margin-bottom: 30%;
  }
}
@media only screen and (max-width: 350px) {
  .ourResidentMainDiv {
    height: 120vh;
    margin-bottom: 30%;
  }
}
@media only screen and (max-height: 532px) {
  .ourResidentMainDiv {
    height: 150vh;
    margin-bottom: 30%;
  }
}
