@font-face {
  font-family: montessarat-bold;
  src: url("../../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../../styles/Montserrat-UltraLight.otf");
}

.weArePartnerDiv {
  font-family: montessarat-regular;
  background-color: #2c2c2c;
  background-image: url("/assets/Wearepartners.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weArePartnerHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  line-height: 42px;
  height: 70%;
  font-family: montessarat-ultralight;
  font-weight: bold;
}
.colorContainer {
  color: #ffffff;
  letter-spacing: 0;
}
.nextLine {
  margin-left: 6px;
  font-family: montessarat-regular;
  font-weight: bold;
}
.hiFunContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-family: montessarat-ultralight;
}
.colorContainerHi {
  width: 365px;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 22px;
  font-family: montessarat-ultralight;
}
.sayHi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.weHaveFun {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.WeArePartnerButton {
  box-sizing: border-box;
  height: 52px;
  width: 162px;
  color: #222222;
  font-family: montessarat-regular;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  margin: 10px 0px;
  cursor: pointer;
}
.curious {
  border: 2px solid #fece2b;
  background-color: #fece2b;
  text-decoration: none;
}
.joinUs {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
@media only screen and (max-width: 1000px) {
  .weArePartnerDiv {
    background-image: url("/assets/weArePartnersMobile.png");
    margin-bottom: 50px;
  }
  .weArePartnerHeading {
    flex-direction: column;
    height: 100%;
  }
  .hideIt {
    display: none;
  }
  .hiFunContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    width: 100px;
    position: relative;
    bottom: 190px;
  }
  .sayHi,
  .weHaveFun {
    align-items: center !important;
  }
}
@media only screen and (max-width: 350px) {
  .weArePartnerHeading {
    margin-bottom: 10%;
  }
  .mobileSlider {
    top: 85%;
  }
}
@media only screen and (max-height: 560px) {
  .hiFunContainer {
    bottom: 135px;
  }
}
