@font-face {
  font-family: montessarat-bold;
  src: url("../../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../../styles/Montserrat-UltraLight.otf");
}

.aboutMainDiv {
  background-image: url("/assets/Whoweare.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.whoAreWe {
  height: 42px;
  color: #ffffff;
  font-family: montessarat-ultralight;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: bold;
  margin-top: 360px;
}
.mobileHeadConatiner {
  display: none;
}
.logoImageWhoWeAre {
  cursor: pointer;
}
.menuImageWhoWeAre {
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .aboutMainDiv {
    background-image: url("/assets/whoareweMobile.png");
  }
  .mobileHeadConatiner {
    display: block;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 30px 0px;
  }
  .whoAreWe {
    margin-top: 290px;
  }
}
@media only screen and (max-width: 1100px) {
  .aboutMainDiv {
    background-image: url("/assets/whoareweMobile.png");
  }
}
