@font-face {
  font-family: montessarat-bold;
  src: url("../../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../../styles/Montserrat-UltraLight.otf");
}
.boldStyle {
  font-weight: bold;
}
.addressBar {
  display: flex;
  flex-direction: column;
  line-height: 21px;
}

.addressHeading {
  margin-bottom: 5px;
  font-family: montessarat-regular;
}

.mapDiv {
  display: flex;
  width: 25%;
  flex-direction: column;
  font-size: 42px;
  align-items: center;
  justify-content: center;
  font-family: monterssat;
}

.addressWrap {
  display: grid;
  grid-gap: 16px;
  font-size: 15px;
  padding: 38px;
  background-color: #ffd22a;
  padding-bottom: 35px;
  align-items: center;
  width: 25%;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
}

.AddressBar h4 {
  margin: 0px;
}

.contactUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 100px;
}

.mapImage {
  height: 290px;
  width: 59%;
}

@media only screen and (max-width: 1000px) {
  .contactUs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0px;
  }
  .mapDiv {
    display: block;
    padding: 12px 11px;
    width: 94%;
    flex-direction: column;
    font-family: montessarat-ultralight;
    font-size: 24px;
    align-items: center;
    text-align: center;
  }
  .addressWrap {
    display: grid;
    grid-gap: 16px;
    font-size: 15px;
    left: 0%;
    background-color: #ffd22a;
    padding-bottom: 35px;
    width: 86%;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
  }
}
