.component.fourth-component {
  position: relative;
  background-color: #2c2c2c;
  background-image: url("/assets/wehaveproof-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.weHaveProof {
  color: white;
  top: 14%;
  left: 37%;
  font-size: 42px;
  height: 81px;
  width: 408px;
  text-align: center;
}

.weHaveProofTitleImage {
  display: block;
  margin: 20px auto;
}

.testimonialContentTwoent {
  color: black;
  height: 100%;
  width: 80% !important;
  padding: 15%;
}

.slickWrap {
  margin-top: 10%;
  width: 100%;
  margin-left: -45px;
}

.testimonialQuote {
  margin-left: 52.5%;
  margin-top: 4.5%;
}
.testimonialContentTwo {
  color: black;
  padding: 15%;
}

.fourthSlick {
  margin-left: 29%;
  margin-top: 6%;
  width: 18%;
  height: 100%;
  color: white;
}

.fourthComponentSlider {
  height: 53%;
  width: 278%;
  border: 1.12px solid #3429b7;
  border-radius: 8.96px;
  background-color: #ffffff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}

.fourthComponentSlickSlider .slick-prev,
.fourthComponentSlickSlider .slick-next {
  display: none !important;
}
.fourthComponentSlickSlider {
  margin-left: 80%;
  width: 300px;
  margin-top: -38px;
}

.fourthComponentSlickSlider .slick-current {
  width: 79px !important;
  margin-left: -8px;
}

.fourthComponentSlickSlider .slick-track {
  width: 1283px !important;
}
.fourthComponentSlickSlider .slick-current .theirName {
  display: block !important;
  margin-top: 3px;
  text-align: center;
}

.fourthComponentSlickSlider .slick-current img {
  width: 70px !important;
  height: 70px !important;

  margin-top: 0px !important;
}

.slickSlideImage {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.thatsWhatTheySay {
  color: white;
  width: 100%;
  top: 92%;
  left: 67%;
  font-size: 30px;
}
