.verticalDiv {
  display: flex;
  flex-direction: column;
}
.verticalDiv:hover .titleDiv .GetfreeAITitle {
  color: #000000;
}
.component.fifthComponent {
  position: relative;
  height: 100vh;
}
.fifthCompMble {
  width: 100%;
}

.getFreeAIStuff {
  position: relative;
  top: 14%;
  width: 100%;
  text-align: center;
  font-size: 42px;
}

.weHaveProofTitleImage {
  display: block;
  margin: 20px auto;
}

.freeImageWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.freeImageWrap a {
  text-decoration: none;
}
.GetfreeAITitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: #7d7d7d;
}

.freeAiTitle {
  font-size: 12px;
  width: 191px;
  color: #7d7d7d;
  margin: auto;
  text-align: center;
}
.verticalDiv:hover {
  color: black;
}
.getFreeAIMakeGreat {
  top: 89%;
  left: 64%;
}

.freeAIMaking {
  font-size: 30px;
  float: left;
}

.freeAiImages {
  background-size: cover;
  float: left;
  margin-top: 80px;
  height: 275px;
  width: 278px;
  color: #7d7d7d;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.aiBlog {
  background-image: url("/assets/aiblog-bw.png");
}

.aiBlog:hover {
  background-image: url("/assets/aiblog-color.png") !important;
  color: black;
}

.caseStudies {
  background-image: url("/assets/casestudies-bw.png");
  margin: 0px 15px;
  margin-top: 115px;
}

.caseStudies:hover {
  background-image: url("/assets/casestudies-color.png") !important;
  color: black;
}

.eBooks {
  background-image: url("/assets/ebooks-bw.png");
}

.eBooks:hover {
  background-image: url("/assets/ebooks-color.png") !important;
  color: black;
}
.hideMobile {
  display: block;
}
.showMobile {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .verticalDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .titleDiv {
    margin: 0px 40px;
    width: 50%;
    text-align: center;
  }
  .hideMobile {
    display: none;
  }
  .showMobile {
    display: block;
  }
  .getFreeAIStuff {
    top: 0px;
    margin-top: 20px;
  }
  .freeAiImages {
    margin-top: 0px;
    height: 175px;
  }
  .GetfreeAITitle {
    top: 50px;
  }
  .aiBlog,
  .eBooks {
    right: 2%;
    position: relative;
    border: 1px solid black;
  }
  .caseStudies {
    margin-right: 0px;
    left: 1%;
    position: relative;
    border: 1px solid black;
  }
  .freeImageWrap a {
    text-decoration: none;
  }

  .freeImageWrap {
    flex-direction: column;
    height: 82vh;
    position: flex;
  }
  .freeAiTitle {
    width: 95px;
  }
  .leftTitle {
    left: 180px;
  }
  .rightaligned-title {
    right: 180px;
  }
}
@media only screen and (max-width: 320px) {
  .freeAiImages {
    height: 130px;
  }
  .freeImageWrap {
    flex-direction: column;
    height: 72vh;
    position: flex;
  }
}
