@font-face {
  font-family: montessarat-bold;
  src: url(/styles/Montserrat-Bold.otf);
}

.component.firstComponent {
  background-image: url("/assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.logoPositionFirstComponent {
  display: none;
}

.firstComponentInsideScroller {
  right: 20px;
  top: 100px;
}

.weAreHighAI {
  margin: auto;
  display: grid;
  text-align: center;
  font-size: 42px;
  grid-gap: 9px;
  width: 22%;
}
.weAreHighAI a {
  text-decoration: none;
}
.titleImage {
  display: block;
  margin: 10px auto;
}

.rotatingWordsMargin {
  margin-right: 54%;
}

.checkOutOurStuff {
  border: none;
  color: white;
  width: 225px;
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding: 15px 0;
  background-color: #3429b7;
  text-decoration: none;
  margin: 0px auto;
}

.homepageRwwords {
  color: black !important;
  margin-bottom: 1%;
}

.homepageRwwords span:nth-child(2),
.homepageRwwords span:nth-child(1),
.homepageRwwords span:nth-child(3) {
  font-family: montessarat-bold;
  color: black !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .weAreHighAI {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1000px) {
  .component {
    height: 100vh;
  }
  .weAreHighAI {
    margin: auto;
    display: grid;
    grid-gap: 9px;
    width: 102%;
    color: #262626;
    font-family: Montserrat;
    font-size: 190%;
    line-height: 100%;
    text-align: center;
  }
  .weAreHighAI {
    margin-top: 40%;
    font-weight: 200;
    bottom: 0px;
  }

  .checkOutOurStuff {
    font-weight: bold;
    box-sizing: border-box;
    width: 62%;
    border: 2px solid #3429b7;
    background-color: #3429b7;
    display: block;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    height: 99%;
  }
  .homelanding {
    height: 98vh;
  }
  .component.firstComponent {
    background-size: contain;
    background-position: right 0px bottom 68px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .rotatingWordsMargin {
    width: 55%;
  }
  .styles_modal__gNwvD {
    display: table;
  }
}
