@font-face {
  font-family: montessarat-bold;
  src: url(/styles/Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(/styles/Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(/styles/Montserrat-UltraLight.otf);
}

.mainDivdlvestf {
  position: relative;
  background: white;
  height: 100vh;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .mainDivdlvestf {
    margin-top: 20px;
    height: auto;
  }
}
