@font-face {
  font-family: montessarat-bold;
  src: url("../../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../../styles/Montserrat-UltraLight.otf");
}
.footerWrap {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #efefef;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 5px solid blue;
  background-image: url(/assets/footerelement-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-blend-mode: color-burn;
}

.footerNavigationLinks {
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.liMenuSlide,
.blackColor {
  list-style-type: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
.blackColor {
  width: 95%;
  margin: 10% 10px;
}
.liMenuSlide {
  margin: 10% 10px;
  width: 91%;
}
.liMenuSlide a,
.blackColor a {
  text-decoration: none;
  list-style-type: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: relative;
  font-family: montessarat-ultralight;
  font-weight: bold;
}
.blackColor a {
  color: black;
}
.menulink {
  color: black;
}
.liMenuSlide a:hover,
.blackColor a:hover {
  text-decoration: underline !important;
  text-decoration-color: #fed600 !important;
}
.footerNavigationLinks a {
  text-decoration-line: none;
  margin-top: 10px;
}
.footerNavigationLinks a:hover {
  text-decoration-line: underline !important;
}
.CTAButtonsFooter {
  display: none;
}

.ourStuffButtonFooter {
  text-decoration: none;
  background: #352ab7;
  padding: 6px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: white !important;
  margin-left: 0%;
  width: 83px;
  margin: 15px 0px;
}

.footerNavigationLinks a {
  color: black;
  font-family: montessarat-ultralight;
  font-weight: bold;
}
.footerHitUsUp {
  font-family: montessarat-ultralight;
  font-weight: bold;
  font-size: 16px;
}
.footerNavigationLinks a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.weAreEveryWhere {
  margin-top: 3%;
}

.footerFaIconsWrap {
  margin-top: 1%;
}

.iconLinks {
  margin-right: 10px;
}

.PrivacyPolicyTermsConditions {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  clear: right;
  font-size: 15px;
  margin-right: 3%;
  width: 50%;
  font-family: montessarat-ultralight;
}
.PrivacyPolicyTermsConditions a {
  color: black !important;
  text-decoration: none;
}
.PrivacyPolicyTermsConditions a:hover {
  text-decoration: underline;
}
.termsConditions {
  margin: 0px 10px;
}
.horizontalDiv {
  display: flex;
  flex-direction: row;
}
.copyRights {
  width: 50%;
  clear: left;
  margin-left: 5%;
  font-size: 13px;
  font-family: montessarat-ultralight;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
  .blackColor a {
    bottom: 80px;
  }
  .blackColor {
    width: 100%;
  }
  .footerWrap {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .horizontalDiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .secondHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerNavigationLinks {
    flex-direction: column;
    height: 50vh;
    align-items: baseline;
    padding-left: 6%;
  }
  .hitUsUpLink {
    border: none;
    background-color: transparent;
    font-family: montessarat-regular;
  }
  .CTAButtonsFooter {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 6%;
  }
  .CTAButtonsFooter a {
    text-decoration: none;
  }
  .weAreEveryWhere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
  }
  .footerFaIconsWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .PrivacyPolicyTermsConditions {
    font-size: 15px;
    margin-right: 3%;
    font-family: montessarat-ultralight;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: 10px 5px;
  }
  .copyRights {
    font-size: 13px;
    font-family: montessarat-ultralight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 10px 5px;
  }

  .styles_modal__gNwvD {
    height: 100% !important;
    animation: none !important;
    transition: none !important;
    width: 100% !important;
  }
  .styles_modalCenter__L9F2w {
    width: 80% !important;
    height: 93% !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
  }
}
@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .styles_modal__gNwvD {
    width: auto !important;
  }
}
