@font-face {
  font-family: montessarat-bold;
  src: url("/styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("/styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("/styles/Montserrat-UltraLight.otf");
}

.hitUsUpTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 10px;
}
.iconSize {
  width: 20px;
}

.hitUsUpWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hitUsUpInputOld {
  box-sizing: border-box;
  width: 345px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-family: montessarat-ultralight;
  background-color: #ffffff;
  margin: 10px 10px;
  border-radius: 5px;
  margin-left: 14px;
  padding: 10px;
}
.hitUsUpTextArea {
  box-sizing: border-box;
  height: 100px;
  width: 345px;
  font-family: montessarat-ultralight;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px 10px;
  margin-left: 14px;
  padding: 10px;
}
.hitUsUpInputOld:hover,
.hitUsUpTextArea:hover,
.hitusupCheckbox:hover {
  border: 1px solid #c9ffe5;
}

.moveIconTop {
  position: relative;
  bottom: 82px;
}
.widthContainer {
  width: 400px;
}
.quotes {
  bottom: 10px;
}
.fileStyle {
  font-size: medium;
  padding: 10 10px;
  padding: 10px 10px;
  cursor: pointer;
}
.termsPrivacy {
  height: 30px;
  margin: 10px 10px;
  width: 236px;
  color: #3b44cf;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}
.termsLink {
  text-decoration: none;
  margin: 5px 5px;
}
.AgreeTerms {
  margin: 5px 5px;
}
.buttonContainer {
  box-sizing: border-box;
  height: 42px;
  width: 115px;
  font-family: montessarat-regular;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 3%;
}

.hitUsUpSubmit {
  background-color: #3429b7;
  cursor: pointer;
  color: white;
  border-style: outset;
  border-color: #0066a2;
  font: bold;
  font-size: 15px;
  text-shadow: none;
}
.disablesubmit {
  background-color: lightgrey;
  color: dimgrey;
  cursor: pointer;
}
.hpsError {
  margin-left: 15% !important;
  width: 60%;
}
.redColorContainer {
  color: red;
  font-weight: bold;
}
.displaymessage {
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .hitUsUpInputOld {
    width: 100%;
  }
  .widthContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hitUsUpTextArea {
    width: 100%;
  }
  .hitUsUpWrap {
    margin-top: 40px;
  }
  .moveIconTop {
    bottom: 0px !important;
    display: flex;
  }
  .AgreeTerms {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  .hpsError {
    margin-left: 5% !important;
    margin-bottom: 10px;
  }
  .redColorContainer {
    margin: 2px;
  }
  .hitUsUpInputOld {
    height: 50px;
  }
  .hitUsUpTextArea {
    height: 120px;
  }
  .mobileFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .iconsUpdate {
    display: flex;
    flex-direction: row;
  }
  .fileStyle {
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px 4px;
  }
}
