.component.secondComponent {
  position: relative;
  background-color: #2c2c2c;
  background-image: url("/assets/wesolvetough-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.wesolveMobileView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.weSolveTough {
  color: white;
  font-size: 42px;
  width: 354px;
  margin: 100px 100px;
}

.rwBuildbetter {
  margin-left: 8px;
}

.titleImageSolve {
  display: block;
  margin: 15px 0;
}

.tableStyle {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
  justify-content: flex-end;
  align-items: flex-end;
}

.solveAI {
  width: 17%;
  margin-right: 16%;
  margin-bottom: 7%;
}
.rightDiv {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-top: 100px;
}
.serviceTitle {
  font-size: 12px;
  margin-top: 25%;
  width: 78px;
}

.weSolveAnchor {
  color: white;
  text-decoration: none;
}
.weSolveAnchor:hover {
  color: rgb(254, 214, 0);
}

.weBuildBetter {
  left: 67%;
  color: white;
  font-size: 30px;
}

.solutionsImages {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1000px) {
  .weBuildBetter,
  .rwBuildbetter {
    display: none;
  }
  .wesolveMobileView {
    justify-content: center;
    flex-direction: column;
  }
  .weSolveTough {
    font-size: 25px;
    width: 200px;
    margin: 20px 20px;
    text-align: center;
  }
  .titleImageSolve {
    margin: 0px 40%;
  }
  .tableStyle {
    width: 100%;
  }
  .solveAI {
    margin: 20px 50px;
    text-align: inherit;
    width: 20%;
  }
  .rightDiv {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .solveAI {
    margin: 20px 55px;
    width: 15%;
  }
  .rightDiv {
    margin-left: 0px;
    margin-top: 0px;
  }
}
