.component.thirdComponent {
  position: relative;
  background-color: #3429b7;
  background-image: url("/assets/wemakecool-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.awssld__bullets button {
  color: black !important;
  height: 8px !important;
  width: 8px !important;
  border: 1px solid white !important;
  background-color: transparent !important;
}

.awssld__bullets .awssld__bullets--active {
  background-color: white !important;
}
.awssld__timer {
  background-color: transparent !important;
}

.thirdComponentSlider {
  width: 70%;
  margin-left: 17%;
  margin-top: 15%;
  height: auto;
}

.thirdCompMobile {
  height: 100%;
  width: 100%;
}

.weMakeCool {
  height: 133px;
  width: 550px;
  font-size: 42px;
  color: white;
  margin-right: 100px;
}

.weMakeCoolTitleImage {
  display: block;
  margin: 20px 0;
}

.ourIntraAtWrk {
  position: relative;
  margin-left: 17%;
  color: white;
  font-size: 30px;
  bottom: 100px;
  padding: 20px 0px;
}

.rwIntratwork {
  margin-left: 8px;
}

.projSubTitle {
  font-size: 12px;
  margin-top: 2%;
}
.groupContainer {
  width: 100%;
  height: 100%;
}
.ImageWrapCoolAI img {
  max-width: 63%;
  max-height: 70%;
  cursor: pointer;
}
.awssld__content {
  background-color: transparent !important;
}

.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  height: 20px !important;
}
.awssld__container .slideProjTitle {
  color: white !important;
}
.awssld__container {
  padding: 40px 0px;
}
.awssld__bullets {
  bottom: 110px !important;
}
.responsiveNumber {
  color: white !important;
}
.awssld__next {
  background-image: url("/assets/right-arrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 25px;
  right: 30% !important;
  top: 125px !important;
}
.awssld__prev {
  background-image: url("/assets/left-arrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 25px;
  top: 125px !important;
}
.awssld__controls button {
  color: transparent !important;
}
.awssld__controls__arrow-left:before,
.awssld__controls__arrow-left:after,
.awssld__controls__arrow-right:before,
.awssld__controls__arrow-right:after {
  position: relative !important;
}
.awssld__controls {
  visibility: visible !important;
}
.responsiveNumber {
  display: none;
}
.columnWise {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .component.thirdComponent {
    position: relative;
    background-color: #3429b7;
    background-image: url("/assets/wemakecool-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .columnWise {
    padding: 10px;
  }
  .ourIntraAtWrk {
    display: none;
  }
  .weMakeCool {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 25px;
    width: 58%;
    text-align: center;
    margin-top: 40px;
    margin-right: 0px;
  }

  .awssld__bullets {
    display: none !important;
  }
  .awssld__next {
    top: 91% !important;
    left: 63%;
  }
  .awssld__prev {
    top: 91% !important;
    left: 30% !important;
  }
  .ImageWrapCoolAI img {
    max-width: 100%;
    max-height: 90%;
  }
  .thirdCompMobile {
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .awssld__container {
    padding: 120px 0px;
  }
  .thirdComponentSlider {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 100%;
  }
  .responsiveNumber {
    display: block;
    position: relative;
    top: 18%;
    display: flex;
    justify-content: center;
  }

  .weMakeCoolTitleImage {
    display: block;
    margin: 20px auto;
  }
}
