@font-face {
  font-family: montessarat-bold;
  src: url("../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../styles/Montserrat-UltraLight.otf");
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  outline: none;
}

.addressBar {
  font-family: montessarat-ultralight;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.headConatiner {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
}
.middleContainerSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}
.leftNavigationBarAbout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
.logoPositionition {
  width: 123px;
}

.coverIt {
  position: absolute;
  top: 36px;
  z-index: 99;
  cursor: pointer;
}
.noOverFlow {
  position: absolute;
  top: 36px;
}
.hitusupAbout {
  color: black;
  background: none;
}

.scrollRectangleBlack {
  background: black;
}
.scrollCircleWhite {
  background: white;
}

.scrollButton {
  bottom: 0px;
  top: auto;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.middleContainerSpaceBetween a {
  text-decoration: none;
}
.dynamichitUsUp {
  position: relative;
  top: 0px !important;
}
.topButtonsAbout {
  margin-left: 30px !important;
  color: white;
  cursor: pointer;
  animation-fill-mode: forwards;
  padding: 12px 26px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
  outline: 0px;
  background: none;
}

.ourStuffButtonHome {
  color: white;
  background-color: #3429b7;
  animation-name: color_changehome;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  font-weight: bold;
}
.hitUsUpHome {
  color: black;
  animation-name: hsuphomecolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  background-color: transparent;
}

.ourStuffButtonWeArePartners {
  color: black !important;
  background: white;
  font-weight: bold;
}
.hitUsUpWestay {
  color: white;
}
.hitUsUpHome {
  background: none;
}
.topButtonsAbout:hover {
  cursor: pointer;
  font-weight: bold;
}

.menuLink:hover {
  text-decoration: underline;
  text-decoration-color: #fece2b;
}
.menuLink {
  color: black;
  font-family: montessarat-ultralight;
  font-weight: bold;
  text-decoration: none;
}

.styles_overlay__CLSq- {
  transition: all 0.1s ease-in-out;
}
.styles_modalCenter__L9F2w {
  width: 628px;
  margin: auto;
  border-radius: 8px;
  height: auto;
}
.fontContainer {
  font-family: montessarat-regular;
  font-size: 14px;
}
.webViewAbout {
  display: block;
}
.mobileViewAbout {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .fontContainer {
    display: none;
  }
  .ulRight {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .liMenuSlide a,
  .blackColor a {
    text-align: center;
    width: 100%;
  }
  .styles_modal__gNwvD {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
  }
  .headConatiner,
  .scrollPart,
  .webViewAbout {
    display: none;
  }
  .mobileViewAbout {
    display: block;
  }
}
