@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf);
}
.rotatingWords {
  font-family: montessarat-ultralight;
  display: inline;
  text-indent: 0px;
}
.rotatingWordsOne span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fed600;
  animation: rotateWord 3s linear infinite 0s;
  -webkit-animation: rotateWord 3s linear infinite 0s;
}

.rotatingWordsOne span:nth-child(2) {
  animation-delay: -1s;
  -ms-animation-delay: -1;
  -webkit-animation-delay: -1s;
  color: #fed600;
}
.rotatingWordsOne span:nth-child(3) {
  animation-delay: -2s;
  -ms-animation-delay: -2;
  -webkit-animation-delay: -2s;
  color: #fed600;
}

@-webkit-keyframes rotateWord {
  0% {
    -webkit-opacity: 0;
  }
  30% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  40% {
    -webkit-opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  60% {
    -webkit-opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  70% {
    -webkit-opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-opacity: 0;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  to {
    width: 25%;
  }
}
