@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf) format("otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf) format("otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf) format("otf");
}

.blogMainDiv {
  background-image: url("/assets/wemakecool-bg.png");
  font-family: montessarat-regular;
  padding: 44px 30px;
}
.blogHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 60px;
}

.logoImg {
  width: 115px;
}
.blogTitleImage {
  width: 100%;
}

.blogsWrap {
  position: relative;
  margin-top: 60px;
  height: 100vh;
}

.ourblog {
  font-family: montessarat-ultralight;
  width: 100%;
  text-align: center;
  font-size: 42px;
}
.blogSpan {
  font-family: montessarat-regular;
}
.titleImageBlog {
  display: block;
  margin: 21px auto;
  margin-top: 7px;
}
.closeSpan {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.flexedDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.eachBlogWidth {
  display: flex;
  width: 22%;
  color: #222222;
  margin: 20px;
  padding: 10px;
}
.footerPortfolioWrap {
  position: relative;
  margin-top: 13%;
  bottom: 0px;
}

.eachBlogWidth a {
  text-decoration: none;
}
.blogDetailsWrap {
  height: 100vh;
}
.stickyHeaderPolicy {
  font-family: montessarat-regular;
  position: fixed;
  top: 0px;
  left: 0;
  width: 94%;
  z-index: 99;
  background-color: #3429b7;
  padding: 15px 3%;
  padding-top: 23px;
  display: flex;
}
.headerWrap {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 35px;
}
.blogDetailsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.userDetails {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

.bottomFooter {
  bottom: auto !important;
}

.wrappedDivBlogs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  flex-direction: row;
}

.image {
  width: 100%;
  height: auto;
}
.footerTermsWrap {
  height: 200px;
  position: relative;
  bottom: 0;
  left: 0;
}
.excerptDiv {
  font-family: montessarat-ultralight;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.postImage {
  width: 100%;
  cursor: pointer;
  float: left;
  height: 200px;
  border: 2px solid transparent;
}
.postImage:hover {
  border-radius: 7px;
  border: 2px solid #fece2b;
}
.blogTitleheight {
  padding: 10px;
  padding-bottom: 15px;
  width: 93%;
  min-width: 122px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  min-height: 50px;
}
.blogTitleheight:hover {
  background-color: #fece2b;
}
.title {
  font-family: montessarat-bold;
  font-size: 14px;
  cursor: pointer;
  color: #222222;
}
.blogContent {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  padding: 15px;
  line-height: 30px;
  font-size: 21px;
  font-style: normal;
  font-family: medium-content-sans-serif-font;
}

.blogTitle {
  font-size: 45px;
  line-height: 50px;
  text-align: center;
}

.Menu {
  border: none;
  background-color: white;
  font-size: 14px;
  width: 99px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.Menu:hover {
  font-family: montessarat-bold;
  cursor: pointer;
}

.activeTab {
  background-color: transparent;
  color: black;
  border: 3px solid #3429b7;
  font-size: 14px;
  width: auto;
  min-width: 99px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
  font-family: montessarat-bold;
}

.ourStuffMenus {
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.message {
  font-family: montessarat-ultralight;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

@media only screen and (max-width: 700px) {
  .blogsWrapHead {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ourblog {
    color: #222222;
    font-family: Montserrat;
    font-size: 42px;
    line-height: 52px;
    position: relative;
    bottom: 20px;
    padding: 5px;
  }
  .titleImageBlog {
    position: relative;
    bottom: 10px;
  }
  .wrappedDivBlogs {
    position: relative;
    bottom: 50px;
  }
  .blogsWrap {
    width: 100%;
  }
  .wrappedDiv {
    padding: 5px;
    margin-top: 25px;
  }
  .flexedDiv {
    flex-direction: column;
    display: flex;
  }
  .eachBlogWidth {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
  .ourStuffMenus {
    position: relative;
    bottom: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 38px;
    display: inline-flex;
  }
}
