@font-face {
  font-family: montessarat-bold;
  src: url("../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../styles/Montserrat-UltraLight.otf");
}

.casestudyTitle:first-child {
  font-family: montessarat-regular;
}
.casestudyTitle:nth-child(2) {
  font-family: montessarat-ultralight;
}

.thirdSectionDescriptionWrapCase {
  width: 47%;
  font-family: montessarat-ultralight;
  line-height: 26px;
}
.thirdSectionContentCase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdSectionDataCase:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 10px;
}
.thirdSectionDataCase:nth-child(even) {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.serviceStickyHeader a {
  text-decoration: none;
}
.imageWrapDivCase {
  width: 50%;
  display: flex;
}
.thirdSectionDataCase:nth-child(even) .imageWrapDivCase {
  display: flex;
  flex-direction: inherit;
}
.thirdSectionDataCase:nth-child(odd) .imageWrapDivCase {
  display: flex;
  flex-direction: inherit;
}
.actionImagesCase {
  width: 93%;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
}

.thirdSectionDescriptionWrapCase div:first-child {
  float: left;
  color: #222222;
  font-family: montessarat-bold;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}
.thirdSectionDataCase:nth-child(odd) .thirdSectionDescriptionWrapCase {
  flex-direction: inherit;
}
.thirdSectionDescriptionWrapCase div:first-child hr {
  display: block;
  float: left;
  margin-left: 10px;
  width: 50px;
  border: 1px solid yellow;
}

.thirdSectionDescriptionWrapCase div:not(first-child) hr {
  display: none;
}
.solutionsServicePageCase {
  margin-top: 40px;
  padding: 40px 30px;
}
.clientOverviewTitle {
  margin-bottom: 40px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .requestForDemo,
  .projectName,
  .secondSectionMainDiv,
  .thirdSection,
  .thirdSectionDescriptionWrapCase div:first-child,
  .fourthSectionEnables,
  .productEnablesEachDiv,
  .fifthSection,
  .activeDiv,
  .seventhSection {
    font-family: "Montserrat";
    font-weight: bold;
  }
  .dataSteps,
  .technologyUsed {
    font-family: "Montserrat";
  }
}

@media only screen and (max-width: 1000px) {
  .clientOverviewTitle {
    text-align: center;
  }
  .headerCTA {
    display: block;
    margin-top: 20px;
  }
  .freeDemoCTA,
  .knowMoreCTA {
    margin: 0px;
    margin-left: 6px;
  }

  .headerCTA .freeDemoCTA,
  .headerCTA .knowMoreCTA {
    margin: 30px 10px;
  }
  .titleImageServicePage {
    margin-top: 20px;
  }
  .ImpactWrap {
    width: 100% !important  ;
    margin-left: 1% !important;
    position: relative;
    top: 30px;
  }

  .imageWrapDivCase:nth-child(odd) {
    width: 100%;
  }

  .solutionsServicePageCase {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }

  .thirdSectionDataCase {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .hitusupServicePage {
    display: none;
  }
  .serviceStickyHeader {
    width: 100%;
  }
  .actionImagesCase {
    width: 100%;
  }
  .ourStuffButtonService {
    margin-right: 35px;
  }
  .thirdSectionDescriptionWrapCase {
    width: 99%;
    margin-top: 10%;
  }

  .CTAbuttons {
    display: none !important;
  }
}
@media only screen and (max-width: 350px) {
  .CTAbuttons.headerCTA {
    width: 300px !important;
  }

  .hitusupServicePage {
    display: none;
  }
  .CTAbuttons {
    display: none !important;
  }
}
