.hitUsUpBackground {
  background-color: transparent;
}
.hitUsUpHome {
  margin-left: 14px !important;
  animation-name: hsuphomecolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  margin-left: 1%;
}

.hitUsUpHome:hover,
.hitUsUpWeSolveToughAI:hover,
.hitUsUpWeMakeCoolAI:hover,
.hitUsUpFreeAI:hover {
  text-decoration: underline;
}

@keyframes hsuphomecolor_change {
  to {
    color: black;
  }
}
.hitUsUpWeSolveToughAI {
  margin-left: 14px !important;
  animation-name: hsupwestaiscolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  margin-left: 1%;
}

@keyframes hsupwestaiscolor_change {
  to {
    color: white;
  }
}
.hitUsUpWeMakeCoolAI {
  margin-left: 14px !important;
  color: white;
  background-color: transparent;
  margin-left: 1%;
}

@keyframes hsupwemcaiscolor_change {
  to {
    color: white;
  }
}

.hitUsUpWeHaveProof {
  margin-left: 14px !important;
  color: white;
  background-color: transparent;
  margin-left: 1%;
}

.hitUsUpFreeAI {
  margin-left: 14px !important;
  animation-name: hsupfreeaicolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  margin-left: 1%;
}
@keyframes hsupfreeaicolor_change {
  to {
    color: black;
  }
}

.scrollHome {
  animation-name: scrollHome;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #b2b2b2 !important;
}
@keyframes scrollHome {
  to {
    fill: #b2b2b2 !important;
  }
}
.scrollHomeCircle {
  fill: #ffffff;
  animation-name: scrollHomeCircle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}
@keyframes scrollHomeCircle {
  to {
    fill: #ffffff !important;
  }
}
.scrollWeSolveToughAI {
  fill: #565656;
  animation-name: scrollWeSolveToughAI;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}

@keyframes scrollWeSolveToughAI {
  to {
    fill: 565656;
  }
}

.scrollWeSolveToughAICircle {
  animation-name: scrollWeSolveToughAICircle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  fill: #2a2a2a;
}

@keyframes scrollWeSolveToughAICircle {
  to {
    fill: #2a2a2a !important;
  }
}

.scrollWeMAkeCoolAI {
  animation-name: scrollWeMAkeCoolAI;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #7169cc;
}

@keyframes scrollWeMAkeCoolAI {
  to {
    fill: #7169cc;
  }
}

.scrollWeMAkeCoolAICircle {
  animation-name: scrollWeMAkeCoolAICircle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #2f2f8a;
}

@keyframes scrollWeMAkeCoolAICircle {
  to {
    fill: #2f2f8a;
  }
}
.scrollWeHaveProof {
  animation-name: scrollWeHaveProof;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #6b6b6b;
}
@keyframes scrollWeHaveProof {
  to {
    fill: #6b6b6b;
  }
}

.scrollWeHaveProofCircle {
  animation-name: scrollWeHaveProofCircle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #1f2330;
}
@keyframes scrollWeHaveProofCircle {
  to {
    fill: #1f2330;
  }
}
.scrollFreeAI {
  animation-name: scrollFreeAI;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #b2b2b2;
}
@keyframes scrollFreeAI {
  to {
    fill: #b2b2b2;
  }
}
.scrollFreeAICircle {
  animation-name: scrollFreeAICircle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  fill: #ffffff;
}
@keyframes scrollFreeAICircle {
  to {
    fill: #ffffff;
  }
}

.scrollFooter {
  fill: #b2b2b2;
}

.scrollFooterCircle {
  fill: white;
}
