@font-face {
  font-family: montessarat-bold;
  src: url("../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../styles/Montserrat-UltraLight.otf");
}

html,
body {
  margin: 0;
  font-family: montessarat-ultralight;
  height: 100%;
  width: 100%;
  outline: none;
  position: fixed;
}
.hitUsUpDiv {
  font-family: montessarat-regular;
  background-image: url("/assets/hitusupbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logoPositionition {
  margin: 5px 10px;
}
.topNavigationLeft {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}
.hitUsUpErrorNew {
  margin-left: 25%;
}

.hitUsUpOurStuff {
  color: black !important;
  background-color: #ffffff !important;
  margin-right: 5px;
  width: 70px;
  height: 20px;
}
.topNavigationLeft a {
  text-decoration: none;
}
.topButtonsHitUsUp {
  margin-left: 15px;
  color: white;
  cursor: pointer;
  animation-fill-mode: forwards;
  padding: 12px 26px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  background: none;
  position: relative;
}
.leftNavigationBarHitUsUp {
  display: flex;
  justify-content: flex-end;
  width: 55%;
  cursor: pointer;
}
.middleContainerColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  bottom: 25px;
}
.hitUsUpHeading {
  color: #ffffff;
  font-family: montessarat-ultralight;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 55px;
  font-weight: bold;
}
.hitUsUpImage {
  height: 9px;
  width: 38px;
}

.middleContainerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.middleContainerRowHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  position: relative;
  bottom: 250px;
}
.middleContainer {
  display: flex;
  flex-direction: column;
}
.setWidth {
  top: 150px;
  position: fixed;
  width: 47%;
}
.hitUsUpSubmitNew {
  box-sizing: border-box;
  height: 42px;
  width: 115px;
  border: 2px solid #fece2b;
  background-color: #fece2b;
  color: #222222;
  font-family: montessarat-regular;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
}
.buttonSubmit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.inputContainer {
  margin: 5px 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 33px;
  width: 285px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background-color: #ffffff;
}
.sizeContainer {
  font-size: 25px;
  color: red;
}
.titleContainer {
  margin: 0px 5px;
  height: 22px;
  color: #ffffff;
  font-family: montessarat-ultralight;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-spacing: 30px;
}
.backgroundContainer {
  margin: 5px 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 95px;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background-color: #ffffff;
}
.termsLinkNew {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: montessarat-bold;
  margin: 2px 2px;
  padding: 2px 2px;
  font-size: 14px;
}

.termsLinkNew:hover {
  text-decoration: underline;
}
.termsMarginNew {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12%;
  height: auto;
}
.hitusupCheckboxNew {
  box-sizing: border-box;
  border-radius: 15%;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  border: 1px solid #dfdfdf;
}

.errorContainer {
  font-weight: bold;
  color: red;
  font-size: 14px;
  text-align: center;
}
.menuLink:hover {
  text-decoration: underline;
  text-decoration-color: #fece2b;
}
.menuLink {
  color: black;
  text-decoration: none;
}
.activeMenu {
  font-size: 24px;
  background-color: #352ab7;
  color: white;
}
.termContainer {
  margin-left: 2%;
}
@media only screen and (max-width: 1000px) {
  .topNavigationLeft {
    top: 20px;
    position: relative;
  }
  .leftNavigationBarHitUsUp {
    top: 20px;
    position: relative;
  }
  .middleContainerRowHead {
    position: fixed;
    background: #352ab7;
    z-index: 99;
    top: 0px;
    height: 80px;
    width: 90%;
  }
  .styles_modal__gNwvD {
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
  }
  .termsMarginNew {
    width: 70%;
  }
  .hideInMobile {
    display: none;
  }
  .middleContainerrow {
    flex-direction: column;
  }

  .setWidth {
    background-image: url("/assets/hitusupbackground.png");
    align-items: center;
    width: 100%;
    top: 50px;
    position: relative;
  }

  .backgroundContainer {
    width: 282px;
  }

  .hitUsUpErrorNew {
    text-align: inherit;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .hitUsUpSubmitNew {
    margin-top: 28px;
  }
  .backgroundContainer {
    height: 70px;
  }
  .termsMarginNew {
    margin: 0px 0px;
    width: 80%;
  }
}
@media only screen and (min-width: 750px) and (max-width: 900px) {
  .hitUsUpErrorNew {
    width: 60%;
  }
  .termsMarginNew {
    width: 38%;
  }
}
@media only screen and (max-width: 320px) {
  .middleContainerColumn {
    bottom: 6px;
  }
}
