@font-face {
  font-family: montessarat-bold;
  src: url("../styles/Montserrat-Bold.otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url("../styles/Montserrat-Regular.otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url("../styles/Montserrat-UltraLight.otf");
}
.wedeliverfreeAI {
  height: 100vh;
}
.anchorNavigation {
  font-size: 12px;
  line-height: 902%;
  border-left: 1px solid #666666;
  cursor: pointer;
  margin-left: 20px;
  padding-left: 16px;
  position: relative;
  height: 97%;
  display: flex;
  vertical-align: middle;
  text-decoration: none;
  color: #7c7c7c;
  font-size: bold;
}
.topButtonsHome {
  padding: 12px 26px;
  margin-left: 54px;
  margin-top: 4px;
  font-size: 14px;
  color: white;
  font-family: montessarat-regular;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 12px 26px;
  margin-left: 15px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: 10px;
}
.anchorNavigation a:hover {
  text-decoration: none !important;
}

.eachListDiv {
  height: 20%;
}

.ourStuffHome,
.ourStuffWeHaveProof,
.ourStuffWeMAkeCoolAI,
.ourStuffWeSolveToughAI,
.ourStuffGetFreeAI {
  margin-left: 40px !important;
}
.eachListDiv:before {
  border-radius: 100%;
  content: "";
  background: grey;
  color: grey;
  padding: 2px;
  border: none;
  text-align: center;
  width: 1px;
  margin-left: 18px;
  margin-bottom: -4px;
  display: inline-block;
}

.scrollButtonHome {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220;
  z-index: 99;
  cursor: pointer;
}

.topNavigation {
  position: absolute;
  top: 36px;
  left: 8%;
  width: 88%;
  z-index: 99;
}

.topButtons {
  padding: 12px 26px;
  margin-left: 54px;
  margin-top: 4px;
  font-size: 14px;
  font-family: montessarat-regular;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: 0 !important;
  animation-fill-mode: forwards;
}
.topButtons:hover {
  cursor: pointer;
}

.ourStuffHome,
.ourStuffGetFreeAI {
  animation-name: color_changehome;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards !important;
  background: #352ab7;
  color: white;
  font-weight: bold;
}
.ourStuffWeSolveToughAI,
.ourStuffWeMAkeCoolAI {
  background: white;
  color: black;
  font-weight: bold;
}
.hitUsUpWeSolveToughAI {
  color: white;
}
.getmodalNavigation {
  text-align: left;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.hitUsUpLink {
  font-size: 18px;
  text-align: left;
  border: none;
  background-color: transparent;
  font-family: montessarat-regular;
}
@keyframes color_changehome {
  to {
    background-color: #352ab7;
    color: white;
  }
}
@keyframes color_changeslvetough {
  to {
    background-color: white;
    color: black;
  }
}
.ourStuffWeSolveToughAI {
  animation-name: color_changeslvetough;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}
@keyframes coolcolor_change {
  to {
    background-color: white;
    color: black;
  }
}

.ourStuffWeMAkeCoolAI {
  animation-name: coolcolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}

.ourStuffWeHaveProof {
  animation-name: haveprfcolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}
@keyframes haveprfcolor_change {
  to {
    background-color: white;
    color: black;
  }
}
.ourStuffGetFreeAI {
  animation-name: freeaicolor_change;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
}

@keyframes freeaicolor_change {
  to {
    background-color: #352ab7;
    color: white;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.leftNavigationBar {
  height: 37px;
  padding: 21px 17px;
  float: right;
  cursor: pointer;
}

.vl {
  border-left: 1px solid #666666;
  height: 13%;
  position: absolute;
  margin-left: 48px;
}

.footerNavigation {
  position: absolute;
  height: 89%;
  z-index: 99;
  left: 0%;
  top: 0%;
}
.topButtons:hover {
  cursor: pointer;
  font-weight: bold;
}
.caseStudiesButtons {
  margin-right: 35%;
}
.hitusupServicePageCase {
  font-weight: bold;
  display: block;
  cursor: pointer;
  font-family: montessarat-bold;
  border: none;
  background-color: transparent;
  color: white;
  padding-top: 16px;
  margin-left: 38px;
  margin-right: 38px;
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.ourStuffButton {
  font-weight: bold;
  color: white !important;
  margin-left: 0%;
  width: 83px;
}

.caseStudyRequestForDemo {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: bold;
  margin-left: 35%;
  margin-top: 40px;
  padding: 40px 30px;
}

.OrderNavigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  counter-reset: item -1;
  list-style-type: none;
  padding-left: 28px;
}
.OrderNavigation li {
  cursor: pointer;
  display: block;
  position: relative;
  height: 100%;
}
.styles_overlay__CLSq- {
  transition: all 0.1s ease-in-out;
}
.OrderNavigation li:before {
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  color: grey;
  font-size: 13px;
  line-height: 845%;
  position: absolute;
}

.thirdComponentSlider .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  display: none !important;
}
.thirdComponentSlider .slick-arrow.slick-prev.slick-disabled div,
.thirdComponentSlider .slick-arrow.slick-next.slick-disabled div {
  display: none !important;
}

.fourthComponentSlider .slick-next:before,
.fourthComponentSlider .slick-prev:before,
.thirdComponentSlider .slick-next:before,
.thirdComponentSlider .slick-prev:before {
  content: none !important;
}

.modalNavigation {
  display: none;
}

.navigationSlider {
  width: 100px;
}

.menulink:hover {
  text-decoration: underline;
  text-decoration-color: #fece2b;
}
.menulink {
  color: black;
  font-family: montessarat-ultralight;
  font-weight: bold;
}
.activeMenu {
  font-size: 24px !important;
  background-color: #352ab7;
  color: white;
}

.fa-Icons {
  color: white;
  margin-top: 4px;
}

.styles_closeIcon__1QwbI {
  cursor: pointer;
}
.fourthComponentSlider .slick-slider {
  height: 100%;
}
.footerHoverLine:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bottomVl {
  border-left: 1px solid #666666;
  position: absolute;
  margin-left: 48px;
  top: 104%;
  height: 8%;
}
.bottomVlDiv:before {
  border-radius: 100%;
  content: "";
  background: grey;
  color: grey;
  padding: 2px;
  border: none;
  text-align: center;
  width: 1px;
  margin-left: 46px;
  display: inline-block;
}
.comeSayHi {
  margin-bottom: 15px;
  color: #303030;
  opacity: 40%;
  font-size: 16px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .topButtons {
    font-family: "Montserrat";
    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  .footerNavigation {
    display: none !important;
  }
  .topButtons {
    display: none;
  }
}
