@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf) format("otf");
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf) format("otf");
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf) format("otf");
}

.ourStuffMainDiv {
  background-image: url("/assets/wemakecool-bg.png");
  font-family: montessarat-regular;
  padding: 44px 60px;
}

.wrappedDiv {
  display: grid;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
  grid-gap: 5px;
}

.our {
  font-family: montessarat-ultralight;
  width: 100%;
  text-align: center;
  font-size: 42px;
}
.stuffSpan {
  font-family: montessarat-regular;
}

.subTitleOurStuff {
  font-family: montessarat-ultralight;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

.title {
  font-family: montessarat-bold;
  font-size: 14px;
  cursor: pointer;
}

.viewDetails {
  cursor: pointer;
  position: absolute;
  bottom: 22px;
  right: 2%;
  border: none;
  background-color: #3429b7;
  color: white;
  font-size: 15px;
  padding: 17px 23px;
  font-family: montessarat-bold;
}

.footerPortfolioWrap {
  position: relative;
  margin-top: 12%;
}

.client-overviewStuff {
  margin: 15px 0px;
}

.viewDetails a {
  color: white;
  text-decoration: none;
}

.ourStuffMenus {
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.Menu {
  border: none;
  background-color: white;
  font-size: 14px;
  width: 99px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.Menu:hover {
  font-family: montessarat-bold;
  cursor: pointer;
}

.activeMenuOurStuff {
  background-color: transparent;
  color: black;
  border: 3px solid #3429b7;
  font-size: 14px;
  width: 99px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
  font-family: montessarat-bold;
}
.leftNavigationBarOurStuff {
  cursor: pointer;
}
.IncreasedHeight {
  padding: 10px;
  height: 100%;
  background-color: #fece2b;
  color: #222222;
  display: flex;
  flex-direction: column;
}

.footerSolutionsWrap {
  position: relative;
  margin-top: 12%;
}

.titleheight {
  padding: 10px;
  padding-bottom: 15px;
  width: 92%;
  display: flex;
  flex-direction: column;
  float: left;
  border: 1px solid transparent;
  min-height: 50px;
}

.titleheight:hover {
  background-color: #fece2b;
  height: auto;
}

.description {
  position: relative;
  font-family: montessarat-ultralight;
  background-color: white;
  display: block;
  border: 2px solid #fece2b;
  padding: 40px;
  font-size: 16px;
  line-height: 24px;
  animation: bar 0.5s ease;
  margin-bottom: 5%;
}

@keyframes bar {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
}

.descriptionLinks {
  display: flex;
  justify-content: left;
  width: 85%;
  position: absolute;
  bottom: 7px;
  padding: 0px;
  margin-top: 10px;
}

.titleDivWrap {
  padding: 10px;
}

.eachDivWidth {
  color: #222222;
  width: 22%;
}
.eachDivWidthColor {
  color: #222222;
  width: 22%;
}
.ProjectColorImages {
  width: 100%;
  border-radius: 7px;
  border: 2px solid #fece2b;
}
.flexedDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ourStuffHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logoImageOurStuff {
  width: 115px;
}
.ProjectImages {
  width: 100%;
  cursor: pointer;
  float: left;
  border: 2px solid transparent;
}

.ourstuffWrap {
  position: relative;
  margin-top: 60px;
}

.ProjectImages:hover {
  border-radius: 7px;
  border: 2px solid #fece2b;
}

.titleImage {
  display: block;
  margin: 21px auto;
  margin-top: 7px;
}
.closeSpan {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.industriesUlList {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap column;
  flex-flow: wrap column;
  max-height: 100px;
  font-family: montessarat-ultralight;
}

.featuresOurStuff,
.featureUlList {
  margin-bottom: 10px;
  font-family: montessarat-regular;
}

.industriesUlList li {
  width: 38%;
}

.ourStuffTags {
  list-style-type: none;
  height: 28px;
  background-color: #ffd22a;
  border-radius: 29.5px;
  margin-right: 3%;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  margin-top: 25px;
  color: #222222;
  font-family: montessarat-regular;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .industriesUlList {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap column;
    flex-flow: wrap column;
    max-height: 170px;
  }

  .title,
  .viewDetails,
  .activeMenuOurStuff,
  .featuresOurStuff,
  .featureUlList,
  .stuffSpan {
    font-family: "Montserrat";
    font-weight: bold;
  }

  .ourStuffTags,
  .subTitleOurStuff,
  .our {
    font-family: "MontsSerrat";
  }

  .description {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .ourStuffMainDiv {
    padding: 10px 10px;
  }
  .ourStuffHead {
    margin-top: 20px;
  }
  .ourstuffWrap {
    margin-top: 30px;
  }
  .our {
    color: #222222;
    font-family: Montserrat;
    font-size: 42px;
    line-height: 52px;
  }
  .titleImage {
    display: block;
    margin: 0px auto;
  }

  .wrappedDiv {
    padding: 5px;
    margin-top: 25px;
  }
  .flexedDiv {
    flex-direction: column;
    display: flex;
  }
  .eachDivWidthColor {
    display: none;
  }
  .eachDivWidth {
    width: 100%;
    height: 100%;
  }
  .description {
    font-family: montessarat-ultralight;
    position: fixed;
    z-index: 99;
    bottom: 0;
    margin: auto;
    right: 0;
    overflow-y: auto;
    left: 0;
    background-color: white;
    height: -webkit-fill-available;
    display: inline-block;
    border: 2px solid #fece2b;
    padding: 40px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .industriesUlList li {
    text-align: center;
    border-radius: 29.5px;
    margin-right: 3%;
    width: 80%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-family: montessarat-ultralight;
    font-weight: normal;
    text-align: left;
  }
  .industriesUlList {
    max-height: none;
  }
  .closeSpan {
    position: fixed;
    top: 10px;
    z-index: 99;
    margin-left: 330px;
    padding: 5px;
    height: 17px;
    width: 17px;
  }
  .descriptionLinks {
    list-style: none;
    display: contents;
    justify-content: space-between;
    position: absolute;
    font-family: montessarat-ultralight;
  }
  .ourStuffTags {
    width: auto;
    text-align: center;
  }

  .viewDetails {
    cursor: pointer;
    display: block;
    position: relative;
    bottom: 10px;
    right: 0%;
    margin: 0px auto;
    text-align: center;
    top: 30px;
    border: none;
    background-color: #3429b7;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
