@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf);
}

.stickyHeaderPolicy {
  font-family: montessarat-regular;
  position: fixed;
  top: 0px;
  left: 0;
  width: 94%;
  z-index: 99;
  background-color: #3429b7;
  padding: 15px 3%;
  padding-top: 23px;
  display: flex;
}
.headerWrap {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 35px;
}
.header {
  display: block;
  color: white;
  width: 94%;
  height: 75px;
  text-align: center;
  font-size: 40px;
}

.policiesWrap {
  line-height: 28px;
  font-family: montessarat-ultralight;
  height: 100% !important;
  margin-top: 100px;
  padding: 5px 20px;
}

h2 {
  text-align: left !important;
}

h1 {
  line-height: 32px;
}
@media only screen and (max-width: 1000px) {
  .stickyHeaderPolicy {
    flex-direction: column;
  }
  .headerWrap {
    width: 100%;
  }
}
