@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf);
}

.removeSpace {
  position: relative;
  top: 30px;
}

.thirdSectionDescriptionWrapProduct {
  width: 45%;
  font-family: montessarat-ultralight;
  line-height: 26px;
}
.thirdSectionDescriptionWrapProduct div:first-child {
  float: left;
  color: #222222;
  font-family: montessarat-bold;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.thirdSectionDescriptionWrapProduct div:first-child hr {
  display: block;
  float: left;
  margin-left: 10px;
  width: 50px;
  border: 1px solid yellow;
}

.thirdSectionDescriptionWrapProduct div:not(first-child) hr {
  display: none;
}
.actionImagesProduct {
  width: 93%;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
}
.imageWrapDivProduct {
  width: 48%;
}
.thirdSectionDataProduct:nth-child(odd) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px 10px;
}
.thirdSectionDataProduct:nth-child(even) {
  margin: 10px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.thirdSectionContentProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.thirdSectionDataProduct:nth-child(even) .imageWrapDivProduct {
  display: flex;
  flex-direction: inherit;
}
.thirdSectionDataProduct:nth-child(even) .mobimageWrapDivProduct {
  display: flex;
  flex-direction: inherit;
}
.thirdSectionDataProduct:nth-child(odd) .imageWrapDivProduct {
  display: flex;
  flex-direction: inherit;
}
.thirdSectionDataProduct:nth-child(odd) .mobimageWrapDivProduct {
  display: flex;
  flex-direction: inherit;
}
a {
  text-decoration: none !important;
}
.footerNavigationLinks {
  font-family: montessarat-regular;
}
.productPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.StickyDiv {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: #3429b7;
  padding: 15px 0px;
}

.logoImage {
  margin-top: 20px;
  width: 115px;
  float: left;
  margin-left: 75px;
}

.requestForDemo {
  font-family: montessarat-bold;
  float: right;
  border: none;
  font-size: 14px;
  color: black;
  background-color: #fece2b;
  height: 41px;
  width: 169px;
  margin-top: 19px;
  margin-right: 36px;
  cursor: pointer;
}

.titleImageProduct {
  display: block;
  margin: 14px auto;
  margin-top: 11px;
}
.titleImageAction {
  display: block;
  margin: 14px auto;
  margin-top: 11px;
}
.mobimageWrapDivProduct {
  width: 45%;
}
.firstproductDiv {
  height: 100vh;
  background-color: #3429b7;
  background-image: url("/assets/top-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.projectName {
  font-family: montessarat-bold;
  font-size: 42px;
  color: white;
  text-align: center;
}

.subTitle {
  font-family: montessarat-ultralight;
  color: white;
  opacity: 60%;
  margin-top: 10px;
}

.productImage {
  position: relative;
  top: 30px;
  margin: 0px 30px;
}

.innerDivData {
  position: relative;
  width: 58%;
  height: 97px;
  background-color: #3429b7;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.secondSection {
  padding: 0px 296px;
}

.secondSectiondata:nth-child(odd) {
  color: RED;
  width: 100%;
  float: left;
}

.secondSectiondata:nth-child(odd) div div {
  position: absolute;
  width: 42%;
  height: 113%;
  top: 35%;
  left: 50%;
  border: dashed 2px #9c9c9c;
  border-top: none;
  border-right: none;
}
.removeLines {
  text-decoration-line: none !important;
}
.numbers {
  display: block;
  float: left;
  padding: 15px;
  padding-top: 17px;
  width: 25px;
  height: 22px;
  color: #222222;
  border-radius: 50px;
  background-color: #fece2b;
}

.innerDataSection {
  font-size: 16px;
  font-family: montessarat-bold;
  position: absolute;
  top: 22%;
  width: 80%;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0px 5px;
}

.secondSectionMainDiv {
  padding: 40px 0px;
  background-color: #f3f3f3;
  font-family: montessarat-bold;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.secondDiv {
  line-height: 26px;
  padding: 10% 18%;
  font-size: 16px;
  color: #222222;
  font-family: montessarat-ultralight;
  height: 100px;
  display: flex;
  height: 15%;
  align-items: center;
}
.alignCenterContainer {
  display: flex;
}

.secondSectiondata:nth-child(even) div div {
  position: absolute;
  width: 42%;
  height: 113%;
  top: 35%;
  right: 50%;
  border: dashed 2px #9c9c9c;
  border-top: none;
  border-left: none;
}

.secondSectiondata:nth-child(even) {
  color: BLUE;
  width: 100%;
  float: right;
}

.secondSectiondata:nth-child(even) div {
  float: right;
  margin-top: 65px;
}

.secondSectiondata:nth-child(odd) div {
  margin-top: 65px;
}

.secondSectiondata:last-child div div {
  display: none;
}

.fourthSectionEnables {
  text-align: center;
  font-family: montessarat-bold;
  font-size: 20px;
  background-color: #f3f3f3;
  padding: 60px 0px;
  height: 100%;
}

.productEnablesDiv {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productEnablesEachDiv {
  background-color: #ffd22a;
  width: 31%;
  margin: 7px;
  line-height: 24px;
  padding: 70px 50px;
  font-size: 16px;
  font-family: montessarat-bold;
}

.fifthSection {
  margin-top: 35px;
  font-size: 20px;
  font-family: montessarat-bold;
  text-align: center;
  height: 100% !important;
}

.fourthSectionDescription {
  font-family: montessarat-ultralight;
  padding-top: 30px;
}

.fifthSectionwrap {
  height: 340px;
  padding: 2% 18%;
  font-size: 16px;
  text-align: left;
  font-family: montessarat-ultralight;
  margin-top: 3%;
}

.fifthSectionLeft {
  float: left;
  width: 48%;
  cursor: pointer;
}

.useCases {
  padding: 10px 0px;
}

.fifthSectionRight {
  position: relative;
  float: right;
  width: 48%;
  min-height: 367px;
  background-color: #f3f3f3;
}

.activeDiv {
  background-color: #ffd22a;
  font-family: montessarat-bold;
}

.fifthSectionEachDiv {
  padding: 20px 0px;
  padding-left: 20px;
  border-bottom: 2px solid #ffd22a;
}

.descriptionImage {
  opacity: 10%;
  position: absolute;
  right: 8%;
}

.sixthSection {
  width: 100%;
  height: 100%;
  background-color: #3429b7;
  font-size: 16px;
  font-family: montessarat-bold;
  text-align: center;
  color: white;
  padding-top: 50px;
}

.requestforquote {
  float: none;
  margin-top: 35px;
}

.seventhSection {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: montessarat-bold;
  text-align: center;
  padding: 45px 2px;
  overflow: hidden;
  background-color: #ffd22a;
  margin: 6% 0px;
}

.seventhSectionImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  margin: 0px auto;
}

.runsOnTechnology {
  font-size: 14px;
}

.eightssectionSlider {
  position: relative;
  height: 350px;
  background-color: gray;
  top: 50px;
  margin-bottom: 50px;
}

.eachCorosel {
  margin-right: 10px;
  cursor: pointer;
  color: white;
}

.corouselTitle:hover {
  color: #ffd22a;
}
.corouselTitle {
  font-size: 20px;
  font-family: montessarat-ultralight;
  margin-top: 20px;
  line-height: 24px;
  color: white;
  width: 85%;
}

.sliderWrap {
  bottom: 30%;
  width: 70%;
  z-index: 0;
  margin: 0% 15%;
  position: relative;
}

.thirdSectionProduct {
  margin: 10% 0px;
}
.scrollProject {
  font-family: montessarat-regular;
  display: block;
  float: left;
  text-align: center;
  height: 75px;
  color: white;
  font-size: 40px;
}

.hideproject {
  display: none;
}

.technologyUsed {
  height: 28px;
  border: 2px solid #ffffff;
  border-radius: 29.5px;
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 19px;
  padding-bottom: 6px;
  margin-top: 25px;
  color: #222222;
  font-family: montessarat-regular;
  margin-left: 20px;
}
.react-multiple-carousel__arrow {
  background: #fece2b !important;
  min-width: 25px !important;
  min-height: 25px !important;
  bottom: 65%;
}

.react-multiple-carousel__arrow::before {
  color: black !important;
}

.footerMainWrap {
  position: relative;
  margin-top: 12%;
}
.dataSteps {
  margin: 0px 10px;
}
.eachCorosel:first-child {
  margin-left: 29px;
}

.thirdSectionHead {
  font-family: montessarat-bold;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .requestForDemo,
  .projectName,
  .secondSectionMainDiv,
  .fourthSectionEnables,
  .productEnablesEachDiv,
  .thirdSectionHead,
  .fifthSection,
  .activeDiv,
  .seventhSection {
    font-family: "Montserrat";
    font-weight: bold;
  }
  .dataSteps,
  .technologyUsed {
    font-family: "Montserrat";
  }
}

@media only screen and (max-width: 1000px) {
  .secondSectionMainDiv {
    background-color: #f3f3f3;
    font-family: montessarat-bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
  }
  .dataSteps {
    width: 178px;
  }
  .react-multiple-carousel__arrow {
    bottom: 230px;
  }
  .thirdSectionDataProduct {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 82% !important;
  }
  .imageWrapDivProduct {
    width: 100%;
  }
  .thirdSectionDescriptionWrapProduct {
    width: 99% !important;
    margin-top: 10%;
  }
  .actionImagesProduct {
    width: 100%;
    min-height: 0px !important;
  }
  .logoImage {
    margin-left: 30px;
  }

  .scrollProject {
    display: none;
  }
  .requestForDemo {
    width: 40%;
  }
  .mobimageWrapDivProduct {
    width: 100%;
  }
  .firstproductDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productImage {
    height: 35%;
    left: 0px;
    width: 90%;
    top: 0px;
  }
  .secondDiv {
    height: auto !important;
    padding: 40px 40px;
    margin: 10px 10px;
    position: relative;
    line-height: 25px;
  }

  .secondSection {
    padding: 20px;
    position: relative;
    bottom: 60px;
  }
  .secondSectiondata {
    width: 1%;
  }

  .innerDivData {
    border-radius: 4px;
    background-color: #3429b7;
    padding: 40px;
    position: relative;
    width: 75%;
    height: 40px;
  }

  .pseudoDiv {
    margin-top: 82px !important;
  }
  .thirdSectionProduct {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
    height: 100%;
  }

  .productEnablesEachDiv {
    width: 84%;
    align-items: center;
    position: relative;
    height: 100% !important;
    line-height: 22px;
    padding: 20px;
    font-size: 16px;
    font-family: montessarat-bold;
  }
  .fifthSection {
    margin: 10px;
  }
  .fifthSectionwrap {
    width: 320px;
    text-align: left;
    margin-top: 30px;
    float: left;
    right: 60px;
    display: contents;
    left: 5px;
    margin-bottom: 40px;
  }
  .fifthSectionLeft {
    width: 100%;
    margin-top: 30px;
  }
  .fifthSectionRight {
    width: 100%;
    margin-left: 20px;
    min-height: 0;
  }

  .seventhSectionImages {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .technologyUsed {
    height: 28px;
    margin-left: 0px;
    border: 2px solid #ffffff;
    border-radius: 29.5px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 19px;
    padding-bottom: 6px;
    margin-top: 25px;
    color: #222222;
    font-family: montessarat-regular;
    text-align: center;
    width: 141px;
  }
  .eightssectionSlider {
    margin-bottom: 15%;
    top: 0px;
  }
  .sliderWrap {
    bottom: 30%;
    width: 83%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0% 0%;
  }

  .eachCorosel:first-child {
    margin-left: 0px;
  }

  .eachCorosel img {
    margin-top: 32px;
    width: 101%;
  }
  .eachCorosel.hover {
    color: yellow;
  }
  .eachCorosel {
    margin-left: 9%;
  }
  .corouselTitle.hover {
    color: yellow;
  }
  .thirdSectionHead {
    bottom: 0px;
  }
  .titleImageAction {
    bottom: 0px;
  }
  .productionMobileview {
    height: auto !important;
  }
}
.titleImageProduct {
  margin-top: 15px;
}
@media only screen and (max-width: 350px) {
  .requestForDemo {
    width: 40%;
  }
  .innerDataSection {
    width: 98%;
  }
}
