@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf);
}
.servicePage {
  font-family: montessarat-ultralight;
}
.serviceStickyHeader {
  padding-top: 15px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 97%;
  z-index: 99;
  background-color: #3429b7;
  padding: 15px 3%;
}
.servicesFooterWrap {
  margin-top: 10px;
}

.servicepageLogo {
  width: 130px;
  padding: 8px 10px;
  float: left;
}

.servicePage {
  padding: 40px;
  line-height: 24px;
}

.ServicePageTitle {
  margin-top: 70px;
}

.scrollProjectServices {
  width: 65%;
  display: block;
  float: left;
  text-align: center;
  color: white;
  margin-top: 6px;
  font-size: 31px;
}

.casestudiesOurStuff {
  color: white !important;
  background-color: grey !important;
  padding: 7px !important;
  margin-top: 6px;
  width: 97px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: montessarat-regular !important;
}

.servicepageTopButtons {
  display: block;
  font-size: 14px;
  font-family: "Montserrat";
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
.casestudylogo {
  padding-right: 0px;
}
.CTAbuttons {
  padding: 60px 60px;
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerCTA {
  display: none;
}

.ourStuffButtonService {
  font-family: montessarat-bold;
  float: right;
  border: none;
  color: black;
  background-color: #fece2b;
  padding: 13px 26px;
  margin-top: 5px;
}
.technologiesWrap {
  display: flex;
  flex-direction: column;
}
.mobileViewServices {
  float: left;
  margin-right: 30px;
  display: flex;
}
.titleImageServices {
  display: block;
  margin: 3px auto;
  margin-top: 14px;
}

.titleImageServicePage {
  margin-top: 20px;
}

.styles_modalCenter__L9F2w {
  width: 628px;
  margin: auto;
  border-radius: 8px;
}

.hitusupServicePage {
  cursor: pointer;
  font-family: montessarat-bold;
  border: none;
  background-color: transparent;
  color: white;
  padding-top: 16px;
  margin-left: 38px;
  margin-right: 38px;
  font-size: 14px;
  float: right;
  cursor: pointer;
}

.hitusupServicePage:hover {
  text-decoration: underline;
}

thirdSectionDescription span {
  float: left;
  margin-top: 15px;
}

.servicePageTitle {
  font-size: 42px;
  color: #222222;
  line-height: 52px;
}

.servicePageSubtitle {
  font-size: 30px;
  opacity: 0.6;
  color: #222222;
}

.clientOverviewService {
  width: 25%;
  background-color: #ffd22a;
  font-size: 16px;
  padding: 50px 3%;
  font-family: montessarat-regular;
}

.clientOverviewTitle {
  font-size: 20px;
  font-family: montessarat-bold;
}

.overViews {
  margin-top: 30px;
  font-family: montessarat-ultralight;
}

.Problem {
  width: 60%;
  float: right;
  font-family: montessarat-ultralight;
  size: 16px;
  color: #222222;
  background-color: #f3f3f3;
  padding: 50px 3%;
}

.teamSize {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teamsizeEachDiv {
  font-family: montessarat-bold;
  width: 13%;
  height: 100px;
  background-color: #3429b7;
  padding: 20px 98px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

.videoPlayer {
  height: 436px;
  padding: 0px 15%;
}

.videoPlayer .video-react .video-react-big-play-button {
  height: 3em;
  width: 3em;
  background-color: #ffd22a;
  border-radius: 50%;
  border: none;
  top: 35%;
  left: 45%;
}

.videoPlayer .video-react.video-react-fluid {
  padding-top: 40%;
}

.videoPlayer .video-react .video-react-big-play-button:before {
  top: 22px;
}

.testimonialWrap {
  background-color: #f6f6f6;
  border: none;
  position: relative;
  border-radius: 9px;
  border: 1.12px solid #e7e7e7;
  height: 78.12px;
  margin: 50px 13%;
  padding: 80px 30px;
  font-style: italic;
  font-size: 16px;
  color: #222222;
  font-family: montessarat-ultralight;
}

.testimonialImage {
  top: 82%;
  left: 48%;
  font-family: montessarat-bold;
}

.testimonialName {
  top: 120%;
  left: 49%;
  font-family: montessarat-bold;
}

.testimonialCompany {
  top: 130%;
  left: 49%;
}

.teamSizeWrap {
  margin-top: 110px;
}

.teamSizeMomData {
  font-size: 40px;
  font-family: montessarat-bold;
}

.Challenges {
  margin-top: 40px;
  padding: 40px 30px;
  background-color: #f3f3f3;
}

.OverviewProblem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  margin-bottom: 0px;
}

.technology {
  margin: 50px 0px;
  padding: 50px 30px;
  background-color: #ffd22a;
  min-height: 190px;
  overflow: hidden;
  margin-bottom: 5%;
}

.technologyUsedService {
  height: 28px;
  border: 2px solid #ffffff;
  border-radius: 29.5px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 19px;
  padding-bottom: 6px;
  margin-top: 25px;
  color: #222222;
  font-family: montessarat-regular;
  margin-left: 20px;
  display: inline-table;
}

.hideproject {
  display: none;
}

.techDomain {
  font-size: 16px;
  font-family: montessarat-bold;
  margin-top: 41px;
  margin-left: 8px;
  width: 97px;
}

.solutionsServicePage {
  margin-top: 40px;
  padding: 40px;
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
}

.solutionDescription {
  font-size: 16px;
  font-family: montessarat-ultralight;
  margin-top: 10px;
}

.footerLinks a {
  text-decoration: none;
  color: black;
}

.weAreEverywhereWrap {
  width: 100%;
  bottom: 45px;
  right: 0;
}

.copyRightPolicyWrap {
  width: 100%;
  bottom: 15px;
}

.iconsWrap {
  width: 15%;
  margin: 7px auto;
}

.thirdSectionDescriptionWrap {
  font-size: 16px;
  font-family: montessarat-ultralight;
  position: relative;
  text-align: left;
  width: 80%;
  margin-top: 15px;
}

.thirdSectionData:nth-child(odd) .thirdSectionDescriptionWrap {
  display: grid;
  grid-gap: 16px;
  padding-top: 20px;
  float: left;
  position: relative;
  padding: 0px 10px;
}

.thirdSectionData:nth-child(even) .thirdSectionDescriptionWrap {
  display: grid;
  grid-gap: 16px;
  padding-top: 30px;
  float: right;
  width: 44%;
  padding: 0px 10px;
}

.thirdSectionDescriptionWrap div:first-child {
  float: left;
  color: #222222;
  font-family: montessarat-bold;
  font-size: 16px;
}

.thirdSectionDescriptionWrap div:first-child hr {
  display: block;
  float: left;
  margin-left: 10px;
  width: 50px;
  border: 1px solid yellow;
}

.thirdSectionDescriptionWrap div:not(first-child) hr {
  display: none;
}

.solutionsWrapTest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thirdSectionDataWrapTest {
  height: auto;
  width: 45%;
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.thirdSectionDataWrapTest div:first-child {
  float: left;
  margin-bottom: 8px;
  color: #222222;
  font-family: montessarat-bold;
  font-size: 16px;
}

.termsPrivacyWrap {
  float: right;
  right: 72px;
}

.footerLinks a:hover {
  text-decoration: underline;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .thirdSectionDataWrapTest div:first-child,
  .techDomain,
  .ourStuffButton,
  .hitusupServicePage {
    font-family: "Montserrat" !important;
    font-weight: bold;
  }
  .dataSteps,
  .technologyUsedService {
    font-family: "Montserrat";
  }
}

.overViewWrap:nth-child(even) {
  font-size: 21px;
  font-weight: bold;
}

.eachImpacts {
  font-family: montessarat-regular;
  text-align: center;
  color: white;
  width: 39%;
  padding: 46px 0px;
  background-color: #3429b7;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.ImpactWrap {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
  margin-left: 21%;
  margin-top: 35px;
}

.casestudyTitle:nth-child(even) {
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  .eachImpacts {
    width: 100%;
  }
  .servicePage {
    position: relative;
    padding: 30px;
    line-height: 24px;
    bottom: 50px;
  }
  .thirdSectionDescriptionWrap {
    width: 100%;
  }
  .titleImageServicePage {
    text-align: center;
  }
  .serviceStickyHeader {
    height: 50px;
    background-color: #3429b7;
    padding: 15px 3%;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }
  .scrollProjectServices {
    display: none;
  }
  .scrollProjectServices {
    position: relative;
    right: 50px;
  }
  .hitusupServicePage {
    position: relative;
    margin-right: 1%;
  }

  .mobileSolutions {
    display: block;
    padding: 10px;
  }
  .footerNavigationLinks {
    font-family: montessarat-regular;
  }
  .servicePageTitle {
    color: #222222;
    text-align: center;
    opacity: 0.6;
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 37px;
    margin-top: 40%;
  }
  .OverviewProblem {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
  }
  .clientOverviewService {
    padding: 20px 10px;
    width: 93%;
    position: relative;
    bottom: 60px;
    background-color: #ffd22a;
  }
  .Problem {
    padding: 20px 10px;
    width: 94%;
    margin-top: 20px;
    position: relative;
  }
  .Challenges {
    padding: 20px 10px;

    margin-top: 17%;

    background-color: #f3f3f3;
  }
  .solutionsServicePage {
    padding: 20px 10px;

    background-color: #f3f3f3;
  }
  .mobileViewServices {
    display: block;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
  }
  .thirdSectionDataWrapTest {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
  }
  .thirdSectionDescription {
    width: 100%;
    margin-top: 6%;
  }
  .technology {
    margin: 20px 0px;
    position: relative;
    padding: 20px 10px;
    margin-top: 20px;
    position: relative;
  }
  .ServicePageTitle {
    text-align-last: center;
  }
  .techDomain {
    font-size: 16px;
    font-family: montessarat-bold;
    margin-top: 41px;
    margin-left: 8px;
    width: 100%;
    text-align: center;
  }
  .technologyUsedService {
    margin: 0px 5px;
    margin-top: 25px;
    text-align: center;
  }
  .CTAbuttons {
    width: 50%;
  }
}
@media only screen and (max-width: 350px) {
  .technologyUsedService {
    height: 40%;
  }
}
