@font-face {
  font-family: montessarat-bold;
  src: url(Montserrat-Bold.otf);
}

@font-face {
  font-family: montessarat-regular;
  src: url(Montserrat-Regular.otf);
}

@font-face {
  font-family: montessarat-ultralight;
  src: url(Montserrat-UltraLight.otf);
}

.titleImageSolutions {
  width: 135px;
  padding: 20px;
  float: left;
}

body {
  margin: 0px;
}

.solutionsHeader {
  position: fixed;
  top: 0px;
  left: 0;
  width: 98%;
  z-index: 99;
  background-color: #3429b7;
  height: 82px;
  padding: 15px 3%;
}
.columnDiv {
  display: flex;
  flex-direction: row;
}
.titleImageSolutionsPage {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

.marketing {
  width: 65%;
  text-align: center;
  font-family: montessarat-ultralight;
  float: left;
  color: white;
  font-size: 42px;
  top: 22px;
  position: inherit;
}
.footerSolutionsWrap {
  position: relative;
  margin-top: 13%;
}

.viewProjects {
  font-family: montessarat-bold;
  cursor: pointer;
  border: none;
  color: black;
  background-color: #fece2b;
  height: 20px;
  font-size: 14px;
  width: 98px;
  padding: 12px 17px;
  margin-top: 15px;
  margin-left: 36px;
}

a {
  text-decoration: none;
}
.footerNavigationLinks .a {
  font-family: montessarat-regular;
}
.marketingWrap {
  margin-top: 10%;
  padding: 10px 20px;
  width: 99%;
  display: flex;
  min-height: 100vh;
}

.marketingSpan {
  position: relative;
  top: 160px;
  display: block;
  width: 100%;
  text-align: center;
}

.hitusUp {
  border: none;
  background-color: #3429b7;
  width: 89px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 40px;
  cursor: pointer;
}

.hitusUp:hover {
  text-decoration: underline;
}

.marketingStuff {
  width: 69%;
  display: flex;
  flex-wrap: wrap;
}

.MoreDivs {
  width: 98%;
  height: 100%;
  justify-content: space-between;
}

.marketingStuffEachDiv {
  font-family: montessarat-bold;
  position: relative;
  width: 99%;
  height: 273px;
  font-size: 20px;
  padding-top: 1%;
  margin: 1%;
  background-position-y: 45%;
  background-position-x: 50%;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  color: black;
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
}

.react-card-flip {
  width: 48%;
  margin-bottom: 1%;
}

.MoreDivs .react-card-flip {
  width: 31%;
}

.contentMarketingWrap .react-card-flip {
  width: 100%;
}

.marketingStuffEachDiv:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  cursor: pointer;
}

.contentMarketing {
  font-family: montessarat-bold;
  width: 100%;
  height: 568px;
  position: relative;
  font-size: 20px;
  padding-top: 1%;
  margin: 1%;
  background-position: center;
  background-color: #f3f3f3;
  color: black;
  background-repeat: no-repeat;
}

.contentMarketing:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
}

.contentMarketingSpan {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

.contentMarketingWrap {
  width: 30%;
  height: 240px;
}

.fourSectined {
  width: 99% !important;
  justify-content: space-around;
}

.backCardFlip {
  position: relative;
  font-size: 16px;
  font-family: montessarat-ultralight;
}

.ulLists {
  position: relative;
  top: 50px;
  line-height: 25px;
  height: 30%;
  width: 100%;
  margin: auto 0px;
}

@media only screen and (max-width: 1000px) {
  .columnDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .solutionsHeader {
    position: relative !important;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0;
    z-index: 99;
    background-color: #3429b7;
    padding: 15px 3%;
    height: 244px;
    width: 94%;
  }
  .titleImageSolutions {
    padding: 20px;
    float: left;
    height: 33px;
    width: 113px;
  }
  .hitusUp {
    display: none !important;
  }
  .viewProjects {
    margin: 10px 10px;
  }
  .marketingWrap {
    padding: 10px 20px;
    width: 92% !important;
    display: flex;
    margin-bottom: 20%;
    flex-direction: column;
  }
  .marketingStuff {
    width: 94%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .MoreDivs .react-card-flip {
    width: 100%;
  }
  .marketingStuffEachDiv {
    line-height: 28px;
    height: 273px;
    width: 103%;
    background-color: #f3f3f3;
  }
  .fourSectined {
    display: flex;
    flex-direction: column;
    width: 94% !important;
  }
  .contentMarketingWrap {
    width: 97%;
    height: 240px;
  }
  .contentMarketing {
    height: 297px;
  }
  .react-card-flip {
    width: 100%;
  }
  .react-card-back {
    width: 100%;
  }
  .react-card-front {
    width: 100%;
  }
  .marketing {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    top: 0px;
  }
}

@media only screen and (max-width: 350px) {
  .ulLists {
    width: 85%;
  }
}
